language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - 0.7
  - 1.0

matrix:
  allow_failures:
    - julia: 1.0

notifications:
  email: false

after_success:
    - julia -e 'using Pkg; cd(Pkg.dir("Clp")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
